/* Write your CSS here */
.container {
  background-color: #07080c;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speedometer {
  height: 40vh;
  width: 40vw;
}
.heading {
  color: #fff;
  font-style: italic;
  font-family: 'roboto';
}
.speed {
  color: #fff;
  font-family: 'roboto';
}
.raceButton {
  background-color: #0b69ff;
  color: #fff;
  font-family: 'roboto';
  padding: 8px 16px 8px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.brakeButton {
  background-color: #07080c;
  color: #fff;
  border-radius: 5px;
  border-color: red;
  border: none;
  outline: none;
  padding: 8px 16px 8px 16px;
  font-family: 'roboto';
  cursor: pointer;
}
